html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #040416;
	overflow: hidden;
}
body {
	color: #D9D9D9;
	font-family: "Cardo", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}
.sec__intro {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
h1 {
	position: relative;
	z-index: 1;
	font-family: "Playfair", serif;
	font-size: 5.333em;
	font-weight: 400;
	letter-spacing: .008em;
	text-align: center;
	max-width: 1000px;
	text-transform: capitalize;
	text-shadow: 1px 1px 2px rgba(9,9,9,0.8), 0 0 20px rgba(9,9,9,0.6);
}