@use "utils" as *;

html {
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}
body {
	font-family: "Inter", "Segoe UI", sans-serif;
	font-weight: 400;
	font-style: normal;
	background: var(--white);
	color: var(--dark-4);
	font-size: 18px;
	line-height: 1.41;
	&.dark {
		background: var(--dark-4);
		color: var(--white);
	}
	@media (max-width: 1299px){
		font-size: 16px;
	}
	@media (max-width: 330px){
		font-size: 15px;
	}
	&:has(dialog:modal) {
	overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	&:has(.header--open) {
		max-height: 100dvh;
		overflow: hidden;
	}
}
.container {
	width: 100%;
	max-width: 1342px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	@media (min-width: 1024px){
		padding-left: 17px;
		padding-right: 17px;
		max-width: 1346px;
	}
	@media (max-width: 1100px){
		max-width: 1008px;
	}
}
.section {
	width: 100vw;
	max-width: 1930px;
	margin-inline: auto;
	padding: 72px 0;
	&.pt-0 {
		padding-top: 0 !important;
	}
	&.pt-05 {
		padding-top: .4em !important;
	}
	&.pt-1 {
		padding-top: .95em !important;
	}
	@media (min-width: 1400px){
		& + &:not(.section--gradient) {
			padding-top: 57px;
		}
		&.with-divider + & {
			padding-top: 70px;
		}
	}
	@media (max-width: 1400px){
		padding: 50px 0;
		overflow-x: clip;
		& + & {
			padding-top: 30px;
		}
	}
	@media (max-width: 1100px){
		padding: 42px 0;
	}
	@media (max-width: 991px){
		padding: 35px 0;
	}
	@media (max-width: 600px){
		padding: 30px 0;
	}
	@media (max-width: 500px){
		padding: 28px 0;
		&:not(.with-divider) + & {
			padding-top: 22px;
		}
	}
	&--gradient {
		background-image: var(--gradient-gray);
	}
	&--dark {
		background-color: var(--light-1);
	}
}
.dark .section--dark {
	background-color: var(--dark-3);
}
.mini-section {
	width: 100vw;
	max-width: 1930px;
	margin-inline: auto;
	padding: 30px 0;
	@media (min-width: 1400px){
		& + .section {
			padding-top: 57px;
		}
		& + .section:not(.section--gradient) {
			padding-top: 57px;
		}
		&.with-divider + .section {
			padding-top: 68px;
		}
	}
	@media (max-width: 1400px){
		padding: 23px 0 7px;
	}
	@media (max-width: 600px){
		padding: 18px 0 5px;
	}
}