*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	user-select: none;
}
svg {
	flex-shrink: 0;
	display: block;
	min-width: 18px;
	max-width: 100%;
	max-height: 100%;
}
a, a:focus {
	text-decoration: none;
	outline: 0;
	cursor: pointer;
	transition: .3s;
	user-select: none;
	box-shadow: none;
	color: inherit;
	outline-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, .05);
}

li {
	list-style: none;
}

p:not([class]) {
	margin-bottom: 1.3em;
}
p > b {
	font-weight: 600;
}