@use "utils" as *;

.h1, .h2, .h3 {
	font-family: "Raptor", monospace;
	font-weight: 300;
}
.h1 {
	font-size: em(54);
	line-height: 1.2;
}
.h2 {
	font-size: em(52);
	line-height: 1.2;
}
.h3 {
	font-size: em(48);
	line-height: 1.2;
}