@use "utils" as *;

.h1, .h2, .h3 {
	font-family: "Raptor", monospace;
	font-weight: 400;
}
.h1 {
	font-size: em(54);
	line-height: 1.2;
	letter-spacing: -.02em;
	text-wrap: balance;
}
.h2 {
	font-size: em(52);
	line-height: 1.2;
}
.h3 {
	font-size: em(48);
	line-height: 1.2;
}
.h4 {
	font-size: em(28);
	line-height: 1.4;
}
.h5 {
	font-size: em(22);
	line-height: 1.4;
}
.h6 {
	font-size: em(18);
	line-height: 1.4;
}
.text-gradient {
	background-image: var(--gradient-blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}