@use "utils" as *;

.h1, .h2, .h3, .h4 {
	font-family: "Raptor", monospace;
	font-weight: 400;
	letter-spacing: -.04em;
	word-spacing: -.04em;
}
.h1 {
	font-size: em(53);
	line-height: 1.225;
	text-wrap: balance;
	@media (max-width: 1390px){
		font-size: em(50);
	}
	@media (max-width: 600px){
		font-size: em(45);
		line-height: 1.23;
	}
}
.h2 {
	font-size: em(52);
	line-height: 1.21;
	margin-bottom: 0.44em;
	&--sm {
		max-width: 650px;
	}
	&--center {
		text-align: center;
	}
	@media (max-width: 1390px){
		font-size: em(46);
	}
	@media (max-width: 1100px){
		text-wrap: balance;
		font-size: em(42);
	}
	@media (max-width: 600px){
		font-size: em(36);
		letter-spacing: -.06em;
		word-spacing: -.2em;
	}
}
.h3 {
	font-size: em(48);
	line-height: 1.2;
	margin-bottom: 0.44em;
	@media (max-width: 1390px){
		font-size: em(44);
	}
	@media (max-width: 991px){
		font-size: em(42);
	}
}
.h4 {
	font-size: em(28);
	line-height: 1.3;
	margin-bottom: 0.1em;
	@media (max-width: 991px){
		font-size: em(26);
	}
}
.h5 {
	font-size: em(22);
	line-height: 1.3;
	font-weight: 400;
	@media (max-width: 1390px){
		font-size: em(20);
	}
}
.h6 {
	font-size: em(18);
	line-height: 1.3;
}
.subtitle {
	font-size: em(22);
	margin-bottom: 1em;
	&--sm {
		max-width: 800px;
	}
	@media (max-width: 1390px){
		font-size: em(20);
	}
	@media (max-width: 600px){
		margin-bottom: 0.7em;
	}
}
.text-center {
	text-align: center;
}
.text-gradient {
	background-image: var(--gradient-blue);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.text-semibold {
	font-weight: 600;
}
.text-accent {
	color: var(--blue);
}
.text-columns {
	@media (min-width: 1024px){
		display: grid;
		grid-template-columns: 1.05fr 1fr;
		gap: 20px;
		.h2 {
			text-wrap: balance;
		}
		.subtitle {
			padding-top: 0.4em;
			max-width: 620px;
		}
	}
	@media (min-width: 1300px){
		gap: 32px;
	}
}