:root {
--white: #fff;
--light-1: #F4F4F4;
--light-2: #EFEFEF;
--light-3: #E0E0E0;
--light-4: #B9BFC7;

--dark-1: #4C4C4C;
--dark-2: #343434;
--dark-3: #1D1D1D;
--dark-4: #161616;

--light-blue: #DCEAFF;
--light-blue-2: #CDE1FF;
--green: #00AC70;
--red: #F43362;
--blue: #0869EC;

--gradient-gray: linear-gradient(180deg, #F4F4F4, #fff);
--gradient-light: linear-gradient(180deg, #DCEAFF, #D4FFF0);
--gradient-blue: linear-gradient(to right, #0156D5, #41BAFF);
--gradient-blue-light: linear-gradient(to bottom, #E2EFFF, #fff);
--gradient-blue-dark: linear-gradient(180deg, #0869EC, rgba(8, 107, 236, 0.02));
--gradient-dark: linear-gradient(to right, #343434, rgba(52, 52, 52, 0.02));
--gradient-banner-light: linear-gradient(to right, #f4f4f4, transparent);
--gradient-banner-dark: linear-gradient(to right, #161616, rgba(22, 22, 22, 0.007));

--transition: .35s cubic-bezier(.2,.6,0,1);
}