@use "../base/utils" as *;

.header {
	position: relative;
	z-index: 11;
	border-bottom: 1px solid var(--light-3);
	overflow-x: clip;

	@media (max-width: 1023px) {
		background-color: var(--light-3);
	}

	& > .container {
		position: static;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 3.2em;
		padding-top: 9px;
		padding-bottom: 9px;

		@media (max-width: 1023px) {
			gap: 2em;
			.btn--md {
				border: none;
				color: inherit;
				font-size: 16px;
				padding-right: 10px;
				min-width: fit-content;
			}
		}

		@media (max-width: 767px) {
			padding: .5em 15px;
			gap: 1em;
		}

		@media (max-width: 600px) {
			padding: .35em 15px;
		}

		.btn {
			position: relative;
			z-index: 1;
		}
	}

	.logo {
		position: relative;
		z-index: 3;
		max-width: 31px;
		@media (max-width: 600px){
			max-width: 29px;
		}

		.logo-light {
			display: none;
		}

		@media (min-width: 1024px) {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: -2.9em;
				height: calc(100% + 4px);
				border-right: 1px solid var(--light-3);
			}
		}

		@media (max-width: 1023px) {
			margin-right: auto;
		}
	}

	.menu {
		@media (min-width: 1024px) {
			display: flex;
			align-items: center;
			gap: 1.5em;
			flex-grow: .2;
			margin: 0 auto 0 2em;
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1.5em;
			width: 100%;
			list-style: none;
			padding-left: 0;
		}

		&__item {
			padding: 8px 3px;

			@media (max-width: 1023px) {
				width: 100%;
				padding: 0;
				border-bottom: 1px solid var(--light-3);
			}
		}

		&__link {
			position: relative;
			z-index: 2;
			padding: 8px 3px;
			font-size: 16px;
			color: inherit;

			&.active {
				@media (min-width: 1024px) {
					&::after {
						content: '';
						position: absolute;
						left: 4%;
						right: 4%;
						bottom: -11px;
						border-bottom: 2px solid var(--blue);
					}
				}

				@media (max-width: 1100px) {
					&::after {
						bottom: 3px;
					}
				}
			}
		}

		&__search {
			max-width: 36px;
			max-height: 36px;
			padding: 9px;
			cursor: pointer;

			svg {
				width: 100%;
				height: 100%;
			}

			@media (max-width: 1023px) {
				order: -1;
				margin-bottom: .7em;
				padding-left: 2px;
				padding-right: 16px;
			}
		}

		@media (max-width: 1023px) {
			position: absolute;
			top: calc(100% + 1px);
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			max-height: 0;
			overflow: hidden;
			pointer-events: none;
			background-color: #fff;

			&--open {
				padding: 15px;
				z-index: 99;
				pointer-events: auto;
				max-height: calc(100dvh - 21px);
				min-height: calc(100dvh - 21px);
				box-shadow: 0 8px 6px rgba(3, 3, 3, .04);
			}

			ul {
				flex-direction: column;
				align-items: flex-start;
				gap: 0;
				flex-wrap: wrap;
			}

			&__link {
				display: block;
				min-width: 100%;
				width: fit-content;
				padding: 1em .1em;
				font-size: 1em;

				&.active {
					color: var(--blue);
				}
			}

			.sub-menu {
				padding: 1.2em .1em;
				display: flex;
				justify-content: space-between;

				& > span {
					font-size: 1.05em;
					display: inline-block;
				}

				&-dialog {
					position: relative;
					height: 0;
					padding: 0;
					opacity: 0;
					visibility: hidden;
					overflow: hidden;

					.menu__link {
						margin-bottom: .1em;
					}
				}
			}
		}
	}
}

.sub-menu {
	display: flex;
	align-items: center;
	gap: 6px;
	user-select: none;

	> span {
		position: relative;
		z-index: 3;
		font-size: 16px;
		cursor: pointer;
		transition: .2s;

		& + .arrow {
			position: relative;
			z-index: 3;
			width: 13px;
			max-width: 13px;
			min-width: auto;
			cursor: pointer;

			@media (max-width: 1023px) {
				color: var(--light-4);
			}
		}
	}
	&__trigger {
		font-family: "Raptor", monospace;
	}

	@media (min-width: 1024px) {
		&:hover > .sub-menu__dialog {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			z-index: 1;
		}

		.sub-menu__dialog {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding: 61px 2.6em 0;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: .2s;
			z-index: 11;
			&::after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				height: 88dvh;
				background-color: rgba(29, 29, 29, 0.6);
				backdrop-filter: blur(12px);
				pointer-events: none;
			}

			.container {
				position: relative;
				display: grid;
				grid-template-columns: 270px 1fr;
				background-color: var(--white);

				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					width: 30dvw;
					background-color: var(--white);
				}

				&::before {
					right: 100%;
				}

				&::after {
					left: 100%;
				}
			}
		}

		&__headline {
			position: relative;
			padding: 2.2em 2em 1em 0;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				height: calc(100% + 4px);
				border-right: 1px solid var(--light-3);
			}
		}

		&__trigger {
			display: block;
			margin-bottom: .8em;
			font-size: em(33);
			font-weight: 400;
			letter-spacing: -.05em;
			color: var(--dark-4);
			svg {
				display: none;
			}
		}
	}

	@media (max-width: 1023px) {
		&__dialog {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 0;
			transition: transform .25s, visibility .25s;
			background-color: var(--white);
			z-index: 11;
			display: flex;
			flex-direction: column;
			transform: translateX(10%);
			width: 100%;
			opacity: 0;
			visibility: hidden;
			scrollbar-gutter: stable;
			.container {
				width: 100%;
			}
		}
		&__headline {
			padding-top: 0.7em;
			padding-bottom: .6em;
			border-bottom: 1px solid var(--light-3);
			margin-bottom: 1.2em;
			.link {
				margin-bottom: 0;
			}
		}
		&__trigger {
			display: flex;
			align-items: center;
			gap: 1.5em;
			font-size: em(30);
			margin-bottom: 0.4em;
			svg {
				display: block;
				max-width: 24px;
				rotate: 180deg;
				margin-top: 0.2em;
			}

		}
	}
	@media (max-width: 500px){
		&__headline {
			padding-top: 0.25em;
			margin-bottom: 1em;
		}
	}

	&.open {
		@media (max-width: 1023px) {
			.sub-menu__dialog {
				height: auto;
				padding: .8em 0 0;
				opacity: 1;
				transform: translateX(0%);
				visibility: visible;
				opacity: 1;
			}

			span::before {
				transform: translate(-50%, -50%) scaleY(-1);
			}
		}
	}
}

.sub-menu__list {
	@media (min-width: 1024px) {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
		gap: 2.5em 1em;
		padding: 2.5em 0 2.4em 4em;
	}
	@media (max-width: 1023px) {
		display: flex;
		flex-direction: column;
		gap: .1em;
		a {
			font-size: 0.92em;
			padding-top: .8em;
			padding-bottom: .8em;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				right: 0;
				bottom: 21%;
				background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1194_73283)'%3E%3Cpath d='M5 10L8 6.5L5 3' stroke='%23B9BFC7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1194_73283'%3E%3Crect width='13' height='13' fill='white' transform='translate(5.68248e-07 13) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
			}
		}
	}

	a {
		transition: .3s;

		&:hover {
			color: var(--blue);
		}
	}
}

.btn--menu {
	position: relative;
	z-index: 3;
	display: flex !important;
	align-items: center;
	width: 37px;
	height: 37px;
	padding: 6px;
	border: none;
	color: inherit;
	svg {
		width: 100%;
		height: 100%;
	}

	@media (min-width: 1024px) {
		display: none !important;
	}

	.icon--menu {
		opacity: 1;
		transition: .26s;
	}

	.icon--close {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		transform: translate(-50%, -50%) scale(.2);
		transition: .26s;
	}
}

.header--open {
	.btn--menu {
		.icon--menu {
			opacity: 0;
			transform: scale(.2) rotate(-45deg);
		}

		.icon--close {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

.dark {
	.header {
		border-bottom-color: var(--dark-2);
		@media (max-width: 1023px){
			background-color: var(--dark-3);
		}
		.btn--outline {
			color: var(--white);
			border-color: var(--white);
			&:hover {
				border-color: var(--blue);
			}
		}
		.logo::after{
			border-right-color: var(--dark-2);
		}
		.logo-light {
			display: block;
		}
		.logo-dark {
			display: none;
		}

		.menu {
			@media (max-width: 1023px){
				background-color: var(--dark-4);
				&__item {
					border-bottom-color: var(--dark-2);
				}
			}
		}
	}
	.sub-menu {
		&__trigger {
			color: var(--white);
		}
		&__dialog {
			@media (max-width: 1023px){
				background-color: var(--dark-4);
			}
			&::after {
				@media (min-width: 1024px){
					border-top: 1px solid var(--dark-3);
				}
			}
			.container {
				background-color: var(--dark-4);
				&::before,
				&::after {
					background-color: var(--dark-4);
				}
			}
		}
		&__headline {
			color: var(--white);
			&::after {
				border-right-color: var(--dark-2);
			}
			@media (max-width: 1023px){
				border-bottom-color: var(--dark-2);
			}
		}
	}
}

.breadcrumbs {
	display: flex;
	align-items: center;
	gap: .8em;
	padding-top: 15px;
	padding-bottom: 15px;

	&__item {
		font-size: 15px;
		padding: 4px 1px;
		font-weight: 300;
		user-select: none;
		&:not(:first-child) {
			&::before {
				content: '/';
				margin-right: .85em;
				font-size: 1em;
				color: var(--dark-4);
			}
		}
	}
	a {
		color: var(--blue);
	}
}
.dark {
	.breadcrumbs {
		&__item::before {
			color: var(--white);
		}
	}
}