@use "../base/utils" as *;

.mini-intro {
	background-image: var(--gradient-blue-dark-reverse);
	@media (min-width: 1400px){
		padding: 78px 0 110px;
	}

	.icon {
		display: block;
		margin: 0 auto 1.3em;
	}
}
.article {
	padding-top: 20px;
	padding-bottom: 60px;
	@media (max-width: 1300px){
		padding-bottom: 40px;
	}
	@media (max-width: 991px){
		padding-bottom: 15px;
	}
	p:not([class]) {
		font-weight: 300;
	}
	&__title {
		display: flex;
		gap: .9em 2.1em;
		.icon {
			margin-top: 1.1em;
		}
		@media (max-width: 1300px){
			.icon {
				margin-top: .8em;
			}
		}
		@media (max-width: 767px){
			flex-wrap: wrap;
		}
	}
	&__text {
		@media (min-width: 1500px){
			gap: 52px;
		}
	}
	&__subtitle {
		padding-bottom: .6em;
		margin-bottom: .6em;
		font-size: em(22);
		font-weight: 500;
		border-bottom: 1px solid var(--light-2);

		@media (max-width: 1390px){
			font-size: em(20);
		}
	}
	&__image {
		img {
			object-fit: cover;
		}
	}
	&__list {
		li {
			padding: 0.36em 0;
			display: flex;
			gap: 1.2em;
			&::before {
				content: '';
				flex-shrink: 0;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%230869EC'/%3E%3Cg clip-path='url(%23clip0_1641_19298)'%3E%3Cpath d='M16.0984 9.40039L10.9984 14.6004L7.89844 11.5004' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1641_19298'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-size: 93%;
				background-position: center;
				display: inline-block;
				width: 1.35em !important;
				max-width: 1.35em !important;
				height: 1.35em;
			}
		}
	}
}
.dark {
	.article {
		&__subtitle {
			border-bottom-color: var(--dark-2);
		}
	}
}