@use "../base/utils" as *;

.entrs {
	&-intro {
		padding: 35px 0;
		@media (max-width: 600px){
			padding: 20px 0;
		}
	}
	&__grid {
		@media (min-width: 1024px){
			display: grid;
			grid-template-columns: repeat(16, 1fr);
			align-items: center;
			.h1 {
				position: relative;
				z-index: 1;
				grid-column: 1 / 10;
				grid-row: 1;
			}
		}
	}
	&__image {
		@media (min-width: 1024px){
			grid-column: 7 / 17;
			grid-row: 1;
		}
	}
}