@use "../base/utils" as *;

.four-zero-four {
	overflow: hidden;
	background-image: var(--gradient-blue-light);
	.container {
		padding: 10em 15px 11em;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.5em;
		@media (max-width: 1500px){
			padding: 6em 15px 7em;
			gap: 0.4em;
			.h1 {
				font-size: em(44);
			}
		}
		@media (max-width: 600px){
			padding: 4em 15px 5em;
			.h1 {
				font-size: em(34);
			}
		}
		&::before {
			content: "404";
			position: absolute;
			display: block;
			bottom: 0;
			right: -12px;
			font-weight: 700;
			font-size: em(350);
			line-height: .74;
			color: var(--dark-4);
			opacity: 0.05;
			@media (max-width: 1500px){
				font-size: em(290);
				right: 0;
			}
			@media (max-width: 991px){
				font-size: em(240);
			}
			@media (max-width: 600px){
				font-size: em(190);
			}
		}
		.h1 {
			margin-bottom: 0.4em;
			text-align: center;
		}
		.text-badge {
			font-weight: 500;
			padding-left: 2.2em;
			padding-right: 2.2em;
		}
		p {
			font-size: em(20);
			margin-bottom: 2.2em;
				@media (max-width: 600px){
				font-size: em(18);
				margin-bottom: 1.5em;
			}
		}
		.btn {
			position: relative;
			z-index: 1;
		}
	}
	&--pure {
		.container::before {
			content: none;
		}
	}
}