@use "../base/utils" as *;

.banner {
	padding: 70px 0;
	@media (max-width: 1300px){
		padding: 38px 0;
	}
	@media (max-width: 600px){
		padding: 20px 0;
	}
	&--light {
		background: var(--gradient-light);
	}
	&--dark {
		.banner__container {
			background-image: var(--gradient-blue-dark);
			border: 1px solid var(--blue-muted);
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;
			gap: 48px;
			padding: 17px 17px 22px;
			&:has(:only-child) {
				grid-template-columns: auto;
				.h2 {
					max-width: 100%;
				}
			}
			 @media (min-width: 1100px){
				padding: 36px;
			}
			@media (min-width: 1100px){
				padding: 36px;
				.h2 {
					max-width: 700px;
				}
			}
			p:not([class]) {
				font-weight: 300;
				color: var(--light-3);
			}
			@media (max-width: 1300px){
				max-width: calc(100% - 30px);
				.banner__image {
					max-width: 300px;
				}
			}
			@media (max-width: 991px){
				.banner__image {
					max-width: 270px;
					margin: 0 auto -20px;
				}
			}
			@media (max-width: 760px){
				grid-template-columns: 1fr;
				gap: 20px;
			}
		}
	}
	&__box {
		display: grid;
		grid-template-columns: minmax(660px, 1fr) auto;
		gap: calc(5em + 3vw);
		align-items: center;
		&--narrow {
			@media (min-width: 1301px){
				grid-template-columns: 652px auto;
				justify-content: space-between;
			}
			.banner__action {
				gap: 20px;
				@media (max-width: 600px){
					gap: 16px;
				}
			}
		}
		@media (max-width: 1300px){
			grid-template-columns: minmax(590px, 1fr) auto;
			gap: calc(3em + 2vw);
		}
		@media (max-width: 1023px){
			grid-template-columns: auto;
			gap: 5px;
		}
	}
	&__content {
		@media (min-width: 1600px){
			.h2 {
				margin-bottom: .6em;
			}
		}
	}
	&__action {
		padding-top: 0.75em;
		display: flex;
		flex-wrap: wrap;
		gap: 3.3em;
		div > div {
			padding-bottom: 1em;
		}
		@media (max-width: 1023px){
			gap: 2em;
		}
		@media (max-width: 600px){
			div,.btn {
				width: 100%;
			}
		}
	}
	&__image {
		@media (min-width: 1600px){
			padding-right: 1.2em;
		}
		@media (max-width: 1023px){
			margin-block: auto;
			display: flex;
			justify-content: center;
			padding: 20px;
		}
		@media (max-width: 600px){
			max-width: 280px;
			margin-inline: auto;
			padding: 5px;
		}
	}
}