@use "../base/utils" as *;

.btn {
	color: var(--blue);
	border: 1px solid var(--blue);
	display: inline-block;
	font-size: 1em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	outline-color: transparent;
	background-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: background-color .3s, color .3s, border-color .3s, opacity .3s, box-shadow .3s;
	cursor: pointer;
	user-select: none;
	font-family: inherit;
	flex-shrink: 0;
	&>* {
		pointer-events: none;
	}
	&--outline {
		background-color: transparent;
		color: var(--blue);
		border-color: var(--blue);
		&:hover {
			background-color: var(--blue);
			color: var(--white);
		}
	}
	&--md {
		padding: 8px 16px;
		min-width: 150px;
		font-size: em(17);
	}
}

.link {
	color: var(--blue);
	text-decoration: none;
	transition: color .3s;
	display: flex;
	align-items: center;
	gap: .9em;
	width: fit-content;
	color: inherit;
	font-size: em(16);
	position: relative;
	padding: .32em 0;
	margin-bottom: .5em;
	line-height: 1.2;
	transition: .3s;
	.icon {transition: .4s;}
	&:hover {
		text-shadow: 0 0;
	}
	span {transition: none;}
	&:hover {
		color: var(--light-blue);
	}
}