.icon {
	flex-shrink: 0;
	display: inline-block;
	user-select: none;
	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
	&--accent {
		color: var(--blue);
	}
	&--sm {
		width: 24px;
		height: 24px;
	}
	&--md {
		width: 36px;
		height: 36px;
		@media (max-width: 600px){
			width: 34px;
			height: 34px;
		}
	}
	&--lg {
		width: 80px;
		height: 80px;

		@media (max-width: 1500px){
			width: 68px;
			height: 68px;
		}
		@media (max-width: 700px){
			width: 60px;
			height: 60px;
		}
	}
}
.is-ios .icon--gradient svg {
  fill: var(--blue) !important;
  stroke: var(--blue) !important;
}