@use "../base/utils" as *;
.icon {
	flex-shrink: none;
	display: inline-block;
	user-select: none;
	&--accent {
		color: var(--blue);
	}
	&--sm {
		width: 24px;
		height: 24px;
	}
	&--lg {
		width: 80px;
		height: 80px;
		@media (max-width: 1500px){
			width: 64px;
			height: 64px;
		}
		@media (max-width: 991px){
			width: 52px;
			height: 52px;
		}
	}
}