.list {
	&--checked {
		li {
			padding: 0.86em 0;
			display: flex;
			gap: 1.2em;
			&:not(.list-cta) {
				border-bottom: 1px solid var(--light-2);
			}
			&:not(.list-cta)::before {
				content: '';
				flex-shrink: 0;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%230869EC'/%3E%3Cg clip-path='url(%23clip0_3213_8867)'%3E%3Cpath d='M16.0984 9.40039L10.9984 14.6004L7.89844 11.5004' stroke='%230869EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3213_8867'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-size: 93%;
				background-position: center;
				display: inline-block;
				width: 1.35em;
				max-width: 1.35em;
				height: 1.35em;
				@media (max-width: 600px){
					width: 1.24em;
					max-width: 1.24em;
					height: 1.24em;
					margin-top: 3px;
				}
			}
			&:last-child:has([class]) {
				padding-bottom: 0;
			}
			@media (max-width: 600px){
				gap: .9em;
				padding: 0.7em 0;
			}
		}
	}
	&--not {
		li:before {
			background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2199_40804)'%3E%3Cpath d='M14.1406 3.7793L3.85222 14.0677' stroke='%23F43362' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.1445 14.1738L3.75 3.7793' stroke='%23F43362' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2199_40804'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
			width: 1.14em !important;
			max-width: 1.14em !important;
			height: 1.14em;
		}
	}
	&--all-border {
		li:first-child {
			border-top: 1px solid var(--light-2);
		}
	}
	&--no-border {
		li {
			border: none !important;
			padding: 0.45em 0;
		}
	}
	&-cta {
		@media (max-width: 600px){
			.btn, .link {
				flex-grow: 1;
			}
		}
	}
	&--columns {
		@media (min-width: 768px){
			columns: 2;
			column-gap: 20px;
			li {
				break-inside: avoid;
				padding: 0.7em 0 !important;
				&:last-child {
					padding-bottom: .8em !important;
				}
			}
		}
	}
	&--grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
		column-gap: 60px;
		&-sm {
			@media (min-width: 991px){
				column-gap: 30px;
				grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
			}
		}
		@media (max-width: 991px){
			column-gap: 40px;
			grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
		}
		@media (max-width: 330px){
			grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		}
	}
	&--plused {
			li {
			padding: 0.6em 0;
			display: flex;
			gap: 1em;
			&::before {
				content: '';
				flex-shrink: 0;
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1590_15191)'%3E%3Cpath d='M18.1172 9.97656L1.66329 9.97656' stroke='%230869EC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.80469 18.2895L9.80469 1.66602' stroke='%230869EC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1590_15191'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-size: 95%;
				background-position: center;
				display: inline-block;
				width: 1.2em !important;
				max-width: 1.2em !important;
				height: 1.2em;
			}
			@media (max-width: 600px){
				gap: .9em;
			}
		}
	}
}
.dark {
	.list {
		&--checked {
			font-weight: 300;
			li {
				color: var(--light-3);
				border-color: var(--dark-2);
			}
		}
	}
}

.list--simple {
	li {
		padding: 0.22em 0;
		display: flex;
		gap: 1.3em;
		&::before {
			content: '';
			flex-shrink: 0;
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='5' stroke='%230869EC' stroke-width='2'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			display: inline-block;
			width: .7em !important;
			max-width: .7em !important;
			height: .7em;
			margin-top: .33em;
			flex-shrink: 0;
		}
		@media (max-width: 600px){
			gap: 1em;
			&::before {
				width: .56em !important;
				max-width: .56em !important;
				height: .56em;
			}
		}
	}
	&-filled {
		li {
			gap: 0.9em;
		}
		li:before {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%230869EC'/%3E%3Cg clip-path='url(%23clip0_1417_17064)'%3E%3Cpath d='M16.0984 9.40039L10.9984 14.6004L7.89844 11.5004' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1417_17064'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			width: 1.2em !important;
			max-width: 1.2em !important;
			height: 1.2em;
			margin-top: 2px;
		}
		@media (max-width: 600px){
			li:before {
				width: 1em !important;
				max-width: 1em !important;
				height: 1em;
			}
		}
	}
}