@use "../base/utils" as *;

dialog::backdrop {
	background-color: rgba(29, 29, 29, 0.6);
	backdrop-filter: blur(12px);
}
dialog {
	color: var(--dark-4);
	margin: auto;
	border: none;
	max-height: 99dvh;
	overflow-y: auto;
	animation: fadeOutDown 0.2s ease-out forwards;
	@media (max-width: 767px){
		width: 100dvw;
		max-width: 99dvw !important;
	}
	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-track {
		background-color: var(--light-3);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--light-4);
	}
}
dialog[open] {
	animation: fadeInUp 0.2s ease-out forwards;
}
/* open */
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(26px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
/* close */
@keyframes fadeOutDown {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(26px);
	}
}

.modal {
	background-color: var(--white);
	&--md {
		width: min(100% - 32px, 1280px);
		.modal__container {
			padding-top: 70px;
			padding-bottom: 70px;
			max-width: 860px;
			&--lg {
				max-width: 960px;
			}
			@media (max-width: 991px){
				padding-top: 40px;
				padding-bottom: 40px;
				max-width: 700px;
			}
		}
		.h3 {
			margin-bottom: .9em;
			@media (min-width: 1400px){
				margin-bottom: 1.1em;
			}
		}
	}
	&__wrapper {
		position: relative;
		width: 100%;
		max-height: 100svh;
	}
	&__close {
		position: absolute;
		top: 1em;
		right: 1em;
		cursor: pointer;
		color: inherit;
		padding: 5px;
		border: none;
		outline: none;
		svg {
			width: 32px;
			height: 32px;
		}
		@media (max-width: 991px){
			top: 0.3em;
			right: 0.5em;
		}
	}
	.bordered {
		padding: 36px;
		border: 1px solid var(--blue-muted);
		@media (max-width: 1100px){
			padding: 20px;
		}
		@media (max-width: 600px){
			padding: 16px;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	.btn--lg {
		@media (max-width: 550px){
			width: 100%;
		}
	}
}
