@use "../base/utils" as *;

.select {
	position: relative;
	user-select: none;
	&--sm {
		width: 50px;
	}
	&--full {
		width: 100%;
	}
}
.select__header {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.32em;
	position: relative;
	svg {
		width: 15px;
		height: 15px;
		color: var(--dark-1);
		transition: .3s;
	}
}
.select.is-active .select__header svg {
	transform: scaleY(-1);
}
.select__current {
	font-size: 15px;
	min-width: 3ch;
	padding: 0.3em 0;
}
.select__body {
	border-top: 0;
	position: absolute;
	left: -.6em;
	right: 0;
	bottom: 100%;
	display: none;
	overflow: hidden;
	min-width: 5.5ch;
}
.select.is-active .select__body {
	display: flex;
	flex-direction: column;
	gap: 0.6em;
	padding: 11px;
	border: 1px solid var(--dark-1);
	background-color: var(--dark-4);
	z-index: 1;
}
 .select__item {
	cursor: pointer;
	font-size: 15px;
}
.select--down  {
	.select__body {
		bottom: auto;
		top: 100%;
		box-shadow: none;
	}
	.select__current {
		padding: .64em 1em;
	}
}


  // ── Custom select ───────────────────────────────────────────

.cstm-select {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;

	&.is-open {
		.cstm-select__trigger {
			border-color: var(--blue);

			.arrow {
				transform: scaleY(-1);
			}
		}

		.cstm-select__dropdown {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			pointer-events: auto;
		}
	}

	&__trigger {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 9px;
		width: 100%;
		height: 54px;
		padding: 10px 18px;
		background: var(--light-2);
		border: none;
		border-bottom: 1px solid var(--blue-muted);
		color: inherit;
		cursor: pointer;
		text-align: left;
		letter-spacing: .02em;
		font-size: em(16);
		@media (max-width: 991px){
			height: 50px;
		}
		@media (max-width: 600px){
			height: 48px;
		}
	}

	&__trigger-text {
		flex: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		flex-shrink: 1;
		max-width: 45ch;
		.iti__flag {
			display: inline-block;
			vertical-align: middle;
			margin-right: 19px;
			width: 19px;
			transform: scale(1.6);
			background-size: calc(var(--iti-flag-count) * var(--iti-flag-width) + 2px) var(--iti-flag-height);
		}
		@media (max-width: 600px){
			max-width: calc(100dvw - 107px);
		}
	}

	&__dropdown {
		position: absolute;
   	padding-top: 0.2em;
   	padding-bottom: 0.2em;
		top: 100%;
		left: 0;
		z-index: 100;
		width: 100%;
		max-height: 230px;
		overflow-y: auto;
		background: var(--light-2);
		opacity: 0;
		visibility: hidden;
		transform: translateY(-6px);
		pointer-events: none;
		transition:
		opacity .18s ease,
		transform .18s ease,
		visibility .18s ease;

		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
		}
	}
	&__option {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
		padding: 10px 12px;
		font-size: em(16);
		cursor: pointer;
		user-select: none;
		transition: background .1s;
		&:has(.iti__flag) {
			padding-left: 20px;
			justify-content: flex-start;
			gap: 16px;
			.iti__flag + span {
				flex-grow: 1;
			}
		}
		&:hover {
			background: var(--light-1);
		}

		&[aria-selected="true"] {
			color: var(--blue);
			&::after {
				content: " ";
				display: inline-block;
				width: 20px;
				height: 20px;
				font-size: 14px;
				flex-shrink: 0;
				background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.95 0.75L3.85 5.95L0.75 2.85' stroke='%230869EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-position: 5% center;
				background-size: .7em;
			}
		}
	}
}

.arrow {
	width: 17px;
	height: 17px;
	flex-shrink: 0;
	opacity: .5;
	transition: transform .15s ease;
	fill: var(--white);
	stroke: var(--white);
}

.dark {
  .cstm-select {
    &__dropdown {
      background: var(--dark-2);
    }
    &__popover {
      background: var(--dark-2);
    }
    &__trigger {
      color: var(--light-4);
      background: var(--dark-2);
      &.placeholder {
        color: var(--light-4);
      }
    }
    &__option {
      &:hover {
        background: var(--dark-1);
      }
    }
    &__option:not([aria-selected="true"]) {
      color: var(--light-4);
    }
  }
}